<input type="hidden" class="next-url" value="<%=word_secondstage_path%>">
<input type="hidden" class="game_level" value="1">
<div class="center_wrapper"><div class="quiz_container"></div></div>
<%= content_tag :div, class: "quiz_class", data: {quiz: @words} do %><% end %>
